

#navbar {
    bottom: 0px;
    padding-bottom: 10px;
}

#navbar, #topNav {
    position: fixed;
    width: 100%;
    background-color: #8eb3a3;
    z-index: 1000;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

#topNav {
    height: 130px;
    top: -70px;
}

.nav-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top:10px;
}

.nav-item i, .nav-item img {
    margin-bottom: 0px;
    font-size: 40px;
}

.nav-item img {
    width: 40px;
}


html {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

body {
    padding-top: 70px; /* Adjust the value based on the height of your navbar */
    margin-left: 0px;
}

.center {
    margin: auto;
    width: 50%;
    text-align: center;
}

.nav-item.active {
   color:white;
}

.nav-item.active img {
    filter: brightness(0) invert(1);
}

#loginPage h1{
    padding-top:20px;
    padding-bottom:10px;
}

#buttonsPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#buttonsPage button {
    margin: 10px;
    padding: 10px 15px;
    background-color: #4CAF50; /* Green background color */
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    height: 50px;
    width: 170px;
}

#buttonsPage button:hover {
    background-color: #45a049; /* Darker green on hover */
}

#powerButton {
    margin: auto;
    margin-top: 90px;
    font-size: 40px;
    cursor: pointer;
    margin-bottom: 20px;
}


/*From Pokemon App*/
#pokedex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.color {
    padding: 50px;
    width: 20%;
    border-color:#333;
    border-style: solid;
}

.card:hover {
    background-color: yellow;
}

#randomPokemon {
    position:absolute;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
    user-select: none;
    padding: 10px;
    border-radius: 10px;
    height: 25px;
    width: 25px;
}

#randomPokemon:hover {
    background-color: #007bff; /* Change the color on hover as desired */
}